body.bg-base {
  transition: background 0.5s ease;
  width: 100%;
  height: 100%;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

body.sunny {
  background: linear-gradient(to bottom right, #f9d423, #ff4e50);
}

body.cloudy {
  background: linear-gradient(to bottom right, #37474f, #263238);
}

body.night {
  background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
}

.glass-card {
  backdrop-filter: blur(2px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  max-width: 400px;
  width: 90%;
}

::placeholder {
  color: #fff !important;
  opacity: 1;
}

input::placeholder {
  color: #fff !important;
  opacity: 1;
}

input:-ms-input-placeholder {
  color: #fff !important;
}

input::-ms-input-placeholder {
  color: #fff !important;
}

